<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" href="/wa-apps/shop/plugins/pbrf/css/forms.css" rel="stylesheet">
    </head>
    <body>
        <div class="twelve columns">
            <form class="twelve columns" method="post" action="?action=generateBlank&blank=F113F117&order={$order.id}&plugin=pbrf" id="blanks">
                {$wa->csrf()}
                <fieldset>	
                    <fieldset id="sender" class="validationEngineContainer">
                        <legend>Данные отправителя</legend>
                        <div class="row">
                            <div class="two columns">
                                <label class="inline right">От кого</label>
                            </div>
                            <div class="six columns left">
                                <input placeholder="Страшнов Дмитрий" id="from_surname" type="text" name="F113F117[from_surname]" class="twelve capitalize" value="{$settings.lastname} {$settings.firstname}">
                            </div>
                            <div class="four columns">
                                <label class="inline left">Фамилия Имя</label>
                            </div>					
                        </div>
                        <div class="row">			
                            <div class="two columns">
                                <label class="inline right">&nbsp;</label>
                            </div>
                            <div class="four columns">
                                <input placeholder="Евгеньевич" id="from_patronymic" type="text" name="F113F117[from_patronymic]" class="twelve capitalize" value="{$settings.patronymic}">
                            </div>
                            <div class="six columns">
                                <label class="inline left">Отчество</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="two columns">
                                <label class="inline right">Город</label>
                            </div>
                            <div class="six columns end">
                                <input placeholder="Название города" id="from_city" type="text" name="F113F117[from_city]" class="twelve" value="{if !empty($settings.city)}{$settings.city|escape}{/if}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="two columns">
                                <label class="inline right">Улица</label>
                            </div>
                            <div class="ten columns">
                                <input placeholder="Варшавское шоссе" id="from_street" type="text" name="F113F117[from_street]" class="twelve" value="{if !empty($settings.street)}{$settings.street|escape}{/if}{if !empty($settings.home)}, {$settings.home|escape}{/if}{if !empty($settings.flat)}, {$settings.flat|escape}{/if}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="three columns">
                                <label class="inline right">Почтовый индекс</label>
                            </div>
                            <div class="three columns end">
                                <input placeholder="131000" id="from_zip" type="text" name="F113F117[from_zip]" class="twelve" value="{if !empty($settings.zip)}{$settings.zip|escape}{/if}" maxlength="6">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset id="recipient">
                        <legend>Данные получателя</legend>
                        <div class="row">
                            <div class="two columns">
                                <label class="inline right">Кому</label>
                            </div>
                            <div class="six columns left">
                                <input placeholder="Жуков Максим" id="whom_surname" type="text" name="F113F117[whom_surname]" class="twelve capitalize" value="{$order.contact.lastname} {$order.contact.firstname}" maxlength="33">
                            </div>
                            <div class="four columns">
                                <label class="inline left">Фамилия Имя</label>
                            </div>					
                        </div>
                        <div class="row">
                            <div class="two columns">
                                <label class="inline right">&nbsp;</label>
                            </div>
                            <div class="four columns">
                                <input placeholder="Александрович" id="whom_patronymic" type="text" name="F113F117[whom_patronymic]" class="twelve capitalize" value="{$order.contact.patronymic}">
                            </div>
                            <div class="six columns">
                                <label class="inline left">Отчество</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="two columns">
                                <label class="inline right">Город</label>
                            </div>
                            <div class="six columns end">
                                <input placeholder="Название города" id="whom_city" type="text" name="F113F117[whom_city]" class="twelve " value="{if !empty($order.shipping_address.city)}{$order.shipping_address.city|escape}{/if}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="two columns">
                                <label class="inline right">Улица</label>
                            </div>
                            <div class="ten columns">
                                <input placeholder="Тверская" id="whom_street" type="text" name="F113F117[whom_street]" class="twelve" value="{if !empty($order.shipping_address.street)}{$order.shipping_address.street|escape}{/if}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="three columns">
                                <label class="inline right">Почтовый индекс</label>
                            </div>
                            <div class="three columns end">
                                <input placeholder="121115" id="whom_zip" type="text" name="F113F117[whom_zip]" class="twelve" value="{if !empty($order.shipping_address.zip)}{$order.shipping_address.zip|escape}{/if}" maxlength="6">
                            </div>
                        </div>
                    </fieldset>
                    <div id="other" class="validationEngineContainer">
                        <fieldset>
                            <div class="row">
                                <div class="five columns">
                                    <label class="inline right">Сумма объявленной ценности</label>
                                </div>
                                <div class="seven columns left">
                                    <div class="row">
                                        <div class="seven columns">
                                            <input placeholder="0.99" id="declared_value_num" type="text" name="F113F117[declared_value_num]" class="twelve onlyNumber addPoint" value="{$order.total-$order.shipping}">
                                        </div>
                                        <div class="five columns">
                                            <label class="inline left">цифрами</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="five columns">
                                    <label class="inline right">Сумма наложенного платежа</label>
                                </div>
                                <div class="seven columns left">
                                    <div class="row">
                                        <div class="seven columns">
                                            <input placeholder="0.99" id="COD_amount_num" type="text" name="F113F117[COD_amount_num]" class="twelve onlyNumber addPoint" value="{$order.total}">
                                        </div>
                                        <div class="five columns">
                                            <label class="inline left">цифрами</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Предъявленный документ</legend>
                            <div class="row">
                                <div class="four columns">
                                    <label class="inline right">Наименование документа</label>
                                </div>
                                <div class="two columns left">
                                    <input placeholder="наименование" id="document" class="twelve" type="text" name="F113F117[document]" maxlength="7" value="{if !empty($settings.document)}{$settings.document|escape}{/if}">
                                </div>
                                <div class="one columns">
                                    <label class="inline right">Серия</label>
                                </div>
                                <div class="two columns left">
                                    <input placeholder="ЯЯ" id="document_serial" class="twelve" type="text" name="F113F117[document_serial]" maxlength="4" value="{if !empty($settings.document_serial)}{$settings.document_serial|escape}{/if}">
                                </div>
                                <div class="one columns">
                                    <label class="inline right">№</label>
                                </div>
                                <div class="two columns left">
                                    <input placeholder="1234567" id="document_number" class="twelve left" type="text" name="F113F117[document_number]" maxlength="6" value="{if !empty($settings.document_number)}{$settings.document_number|escape}{/if}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="four columns">
                                    <label class="inline right">Выдан</label>
                                </div>
                                <div class="two columns left">
                                    <input id="document_day" type="text" class="twelve" name="F113F117[document_day_month]" value="{if !empty($settings.document_date_month)}{$settings.document_date_month|escape}{/if}">
                                </div>
                                <div class="one columns">
                                    <label class="inline right">20</label>
                                </div>
                                <div class="two columns left">
                                    <input placeholder="00" id="document_year" type="text" class="twelve" name="F113F117[document_year]" maxlength="2" value="{if !empty($settings.document_date_year)}{$settings.document_date_year|escape}{/if}">
                                </div>
                                <div class="one columns end">
                                    <label class="inline left">г.</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve columns">
                                    <label>Наименование учреждения выдающего документ</label>
                                    <input placeholder="Петров Александр Михайлович" id="document_issued_by" type="text" name="F113F117[document_issued_by]" class="twelve" value="{if !empty($settings.document_who_cr)}{$settings.document_who_cr|escape}{/if}" maxlength="50">
                                </div>
                            </div>
                        </fieldset>
                    </div> <div class="row">
                        <div class="twelve columns text-center icons-print-pdf columns">
                            <input type="submit" value="Генерировать" >
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
